/* 
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root {
    --generalFont: 'Work Sans', sans-serif;
    --mainFont: 'Raleway', sans-serif;

    --white: #F6F5F5;
    --black: rgb(0, 0, 0);
    --blue: #070D59; /*31326F*/
    --orange: #EE6F57;
    --aqua: #9DDFD3;
    --lightaqua: #1F3C88; /*DBF6E9*/
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit; 
}

body {
    font-family: var(--generalFont);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blue)
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}
/*---------- Global ----------*/
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--mainFont);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/*---------- Utilities ----------*/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0; 
}

.text-center {
    text-align: center;
}

/*---------- Nav bar ----------*/



/*---------- Header ----------*/

.bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1% 5%;
}

.bar-in-section {
    top: 0;
    width: 100%;
    padding: 1% 5%;
    background-color: var(--blue);
    box-shadow: 16px 17px 15px 0px #EBEBEB;
}

.bar-in-section a:hover {
    color: var(--orange)
}

.nav {
    display: none;
}
.menu-btn {
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 2px solid #fff;
    border-radius: 5px;
}

.menu-btn__burger {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-8px);
}
.menu-btn__burger::after {
    transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.webp .header {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(49, 50, 111, 0.7)), url(../img/hero-background.webp) no-repeat; /*cover.webp*/
    background-size: cover;
    background-position: center center; 
}

.no-webp .header {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(49, 50, 111, 0.7)), url(../img/hero-background.jpg) no-repeat; 
    background-size: cover;
    background-position: center center; 
}

.header {
    height: 75rem;/*doble center porque se centra vertical y horizontalmente*/
}

.header__texto {
    color: white;
    text-align: center;
    padding-top: 35rem;
}

.header__texto h2 {
    font-weight: 400;
}

.bar-in-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .header__texto {
        padding-top: 20rem;
    }

    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }   

    .menu-btn {
        display: none;
    }
}

.logo {
    color: var(--blue);
}

.logo__name {
    color: var(--white);
    font-weight: 700;
}

.logo__bold {
    color: var(--orange);
    font-weight: 700;
}

.logo__bold-in-section {
    color: var(--white);
    font-weight: 700;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        gap: 2rem;
    }
}

.nav__link {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}

.nav__link:hover{
    color: var(--orange);
}

.selected-nav {
    background-color: var(--lightaqua);
    color: var(--orange);
    height: 100%;
    padding: 0 1rem;
    border-radius: 20rem;
}

.general-section {
    text-align: center;
    padding: 0 5%;
}

.aboutme-description {
    text-align: justify;
}

@media (min-width: 768px) {
    .general-section-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutme-description {
        width: 70%;
      }
}