/* 
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root {
    --generalFont: 'Work Sans', sans-serif;
    --mainFont: 'Raleway', sans-serif;

    --white: #F6F5F5;
    --black: rgb(0, 0, 0);
    --blue: #070D59; /*31326F*/
    --orange: #EE6F57;
    --aqua: #9DDFD3;
    --lightaqua: #1F3C88; /*DBF6E9*/
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit; 
}

body {
    font-family: var(--generalFont);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blue)
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

/*----------------------------*/
/*---------- Global ----------*/
/*----------------------------*/
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--mainFont);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

/*---------- Utilities ----------*/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0; 
}

.text-center {
    text-align: center;
}

.top-padding {
    padding-top: 5rem;
}

/*---------- Javascript ----------*/
.show {
    display:block;
}

.hide {
    display:none;
}

/*---------- Nav bar ----------*/
.bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1% 5%;
}

.bar-in-section {
    top: 0;
    width: 100%;
    padding: 1% 5%;
    background-color: var(--blue);
    box-shadow: 16px 17px 15px 0px #EBEBEB;
}

.bar-in-section, .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
    }   
}

/*---------- Logo ----------*/

.logo {
    color: var(--blue);
}

.logo__name {
    color: var(--white);
    font-weight: 700;
}

.logo__bold {
    color: var(--orange);
    font-weight: 700;
}

.logo__bold-in-section {
    color: var(--white);
    font-weight: 700;
}

/*---------- Nav links ----------*/
.nav {
    display: none;
}

.nav__link {
    display: block;
    margin-left: 2rem;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white);
}

.nav__link:hover{
    color: var(--orange);
    font-size: 1.8rem;
    transition: all .5s ease-in-out;
}

.selected-nav {
    background-color: var(--lightaqua);
    color: var(--orange);
    height: 100%;
    padding: 0 1rem;
    border-radius: 20rem;
}

.selected-nav:hover{
    color: var(--white);
    font-size: 1.8rem;
    transition: all .3s ease-in-out;
}

.menu-btn-links-general {
    display: block;
    background-color: var(--blue);
    border-radius: 0 0 2rem 2rem;
}

.menu-btn-links {
    display: block;
    position: absolute;
    left:0;
    right:0;

    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        gap: 2rem;
    }
}

/*---------- Menu button ----------*/
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 2px solid #fff;
    border-radius: 5px;
}

.menu-btn__burger {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-8px);
}
.menu-btn__burger::after {
    transform: translateY(8px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*---------------------------*/
/*---------- Index ----------*/
/*---------------------------*/

.webp .homepage-bg {
    background: linear-gradient(rgba(51, 35, 35, 0.7),rgba(49, 50, 111, 0.7)), url(../img/4bg.jpg) no-repeat; /*cover.webp*/
    background-size: cover;
    background-position: center center; 
}

.no-webp .homepage-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(49, 50, 111, 0.7)), url(../img/hero-background.jpg) no-repeat; 
    background-size: cover;
    background-position: center center; 
}


/*---------- Main text ----------*/
.header-text {
    color: white;
    text-align: center;
    padding-top: 30rem;
}

.header-text h2 {
    font-weight: 400;
}

.header-text h1 {
    color: var(--orange);
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    .header-text {
        padding-top: 30rem;
    }  
}


/*-----------------------------------*/
/*---------- General pages ----------*/
/*-----------------------------------*/

.general-section {
    text-align: center;
    padding: 0 2%;
    padding-bottom: 5rem;
}

.general-section-title {
    font-size: 3.2rem;
    margin: 2.5rem 0;
}

/*------------------------------*/
/*---------- About me ----------*/
/*------------------------------*/

.aboutme-description {
    text-align: justify;
    padding: 0 3rem;
}

@media (min-width: 768px) {
    .general-section-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .aboutme-description {
        width: 60%;
    }
}

/*----------------------------------*/
/*---------- Achievements ----------*/
/*----------------------------------*/

.achievement-section-links a{
    color: var(--lightaqua);
    padding: 0.5rem;
    border-radius: 20rem;
}

.achievement-section-links a:hover{
    background: var(--lightaqua);
    color: var(--white);
    transition: all .5s ease-in-out;
    padding: 0.5rem;
    border-radius: 20rem;
}

.program-item {
    background: var(--white);
    text-align: center;
    padding: 3rem;
    margin: 2rem;
    border-radius: 5rem;
    box-shadow: 17px 17px 30px 0px #EBEBEB ;
}

.program-item img {
    border-radius: 2rem;
    max-height: 200px;
}

@media (min-width: 1080px) {
    .general-section-title {
        font-size: 4.8rem;
    }

    .achievement-section {
        /*display: flex;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .program-item, .certificate-item{
        flex-basis: 30%;
    }
}

/*-------------------------------*/
/*---------- Portfolio ----------*/
/*-------------------------------*/

.project-img img{
    display: block;
    min-height: 20rem;
    max-height: 30rem;
    margin: auto;
    
}

.download-resume {
    display: inline-block;
    background: var(--lightaqua);
    padding: 0 2rem;
    border-radius: 1rem;
}

.download-resume a{
    color: var(--white);
}

.download-resume a:hover{
    color: var(--orange);
}

.project-item {
    background: var(--white);
    text-align: justify;
    padding: 3rem;
    margin: 3rem;
    border-radius: 5rem;
    box-shadow: 17px 17px 30px 0px #EBEBEB ;
}

.subtitle {
    color:var(--orange);
    margin-top: 1rem;
}

.tecnologies,
.description {
    font-family: var(--generalFont);
    font-size: 1.6rem;
    line-height: 2;
    color: var(--blue)
}

.btn-repository {
    text-align: center;
    width: 100%;
    background: var(--orange);
    border-radius: 1rem;
    padding: 0 1rem;
    margin:2rem auto;
}

.btn-repository a{
   color: var(--white);
}

.btn-repository:hover{
    background: var(--lightaqua);
    transition: all .5s ease-in-out;
}

.project-title {
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    .work-container {
        display: grid;
        grid-template-columns: repeat(3, 33%);

    }

    .btn-repository {
        width: 80%;
    }
}

/*-----------------------------*/
/*---------- Contact ----------*/
/*-----------------------------*/
.contact-links {
    background-color: var(--orange);
    border-radius: 5rem;
    padding: 2rem 5rem;
    margin-bottom: 5rem;
    border: 2px solid #fff;
}

.contact-links a{
    color: var(--white);
    font-size: 1.6rem;
    padding: 1rem
}

.contact-links a:hover{
    color: var(--blue);
    background-color: var(--white);
    font-size: 1.8rem;
    transition: all .5s ease-in-out;
    border-radius: 20rem;
}

@media (min-width: 768px) {
    .contact-links {
        width: 30%;
    }
}